<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.codetalk.apps.flow.fnd.mapper.TagMapper">

	<resultMap id="tagResultMap" type="me.codetalk.apps.flow.fnd.entity.Tag">
		<result property="text" column="tag_text"></result>
		<result property="hits" column="tag_hits"></result>
		<result property="createDate" column="create_date"></result>
		<result property="lastUpdate" column="last_update"></result>
	</resultMap>
	
	<insert id="insertTag" parameterType="me.codetalk.apps.flow.fnd.entity.Tag">
		insert into tags (tag_text, tag_hits, create_date, last_update)
		values (#{text}, #{hits}, UNIX_TIMESTAMP() * 1000, UNIX_TIMESTAMP() * 1000)
	</insert>
	
	<update id="updateTagHits" parameterType="map">
		update tags set tag_hits = #{hits}, last_update = UNIX_TIMESTAMP() * 1000 where tag_text = #{text}
	</update>
	
	<select id="selectTag" parameterType="map" resultMap="tagResultMap">
		select tag_text, tag_hits from tags where tag_text = #{text}
	</select>
	
	<select id="selectTopTagLike" parameterType="map" resultMap="tagResultMap">
		select tag_text, tag_hits from tags where lower(tag_text) like concat(#{q}, '%')
		 order by tag_hits desc, last_update desc 
		 limit 0, #{count}
	</select>
	
	<select id="selectTopTag" parameterType="map" resultMap="tagResultMap">
		select tag_text, tag_hits from tags
		 order by tag_hits desc, last_update desc
		 limit 0, #{count}
	</select>
	
</mapper>











